In [12]:
import couchdb
import pandas as pd

def retrieve_all_documents(username, password, db_name, save=False):
    couchdb_url = f"http://{username}:{password}@localhost:5984/"
    couch = couchdb.Server(couchdb_url)
    db = couch[db_name]
    docs = []
    for doc_id in db:
        doc = db[doc_id]
        docs.append(doc)
    data = pd.DataFrame(docs)
    if save==True:
        data.to_csv(f'{db_name}_data.csv')
    return data

if __name__ == "__main__":
    data = retrieve_all_documents(username='admin',
                                password='root',
                                db_name='vehicles',
                                save=True)

data['timestamp'] = pd.to_datetime(data['timestamp'], errors='coerce')
data = data.dropna(subset=['timestamp'])
data['timestamp'] = data['timestamp'].dt.tz_localize(None)

,_id,_rev,vehicle_id,model,owner,battery_health,voltage,current,temperature,timestamp
80,94fd544dbb192abc8c9c75b1ef105c12,1-73ad9bcafb4591f84fca9e3c8f641a6a,185bcb7b-dfd2-4b0d-bddd-5f5edbe65d14,Model 2,Owner 54,94,12.41,17.37,20.91,2024-06-13 10:00:19.145832
81,94fd544dbb192abc8c9c75b1ef105e7a,1-ad8b4cf4454e66e8d35d145cbff08c40,265af196-9afa-4e17-9806-e91cb6acf41a,Model 2,Owner 31,89,12.30,48.83,29.81,2024-06-13 10:00:20.171798
82,94fd544dbb192abc8c9c75b1ef106d3c,1-ddf7d053ef8123f77529d1798b5f07e3,9c861442-3511-42af-9be5-fc6fae346498,Model 2,Owner 44,87,11.19,43.17,39.33,2024-06-13 10:00:21.188863
83,94fd544dbb192abc8c9c75b1ef1079c3,1-abac3c9119f2c81f573736f06ebfa92c,88de7f1c-8555-4198-b988-93edfda27656,Model 2,Owner 49,81,11.02,18.44,32.62,2024-06-13 10:00:22.210735
84,94fd544dbb192abc8c9c75b1ef107e80,1-51294e1ef1d5d71f3b0c83d9fd3068cb,0fb80a3c-1bd2-45a4-ac80-fcabe1c3d006,Model 2,Owner 39,82,13.95,46.13,35.69,2024-06-13 10:00:23.234306

In [49]:
data = retrieve_all_documents(username='admin',
                                password='root',
                                db_name='vehicles',
                                save=True)
data['timestamp'] = pd.to_datetime(data['timestamp'], errors='coerce')
data = data.dropna(subset=['timestamp'])
data['timestamp'] = data['timestamp'].dt.tz_localize(None)
cutoff = pd.Timestamp.utcnow() - pd.Timedelta(minutes=1)
cutoff = cutoff.to_datetime64()
data = data[data['timestamp'] >= cutoff]
# data = data.sort_values(by='timestamp').tail(10)
data.shape

(151, 10)

In [54]:
data['timestamp']

0     2024-06-13 18:15:14.478005
1     2024-06-13 18:15:15.502428
2     2024-06-13 18:15:16.518380
3     2024-06-13 18:15:17.534286
4     2024-06-13 18:15:18.550910
                 ...
146   2024-06-13 18:17:43.050458
147   2024-06-13 18:17:44.060151
148   2024-06-13 18:17:45.075215
149   2024-06-13 18:17:46.094827
150   2024-06-13 18:17:47.108340
Name: timestamp, Length: 151, dtype: datetime64[ns]

In [51]:
pd.Timestamp.utcnow() - pd.Timedelta(seconds=10)

Timestamp('2024-06-13 12:48:51.271753+0000', tz='UTC')

In [52]:
pd.Timestamp.utcnow()

Timestamp('2024-06-13 12:49:04.505602+0000', tz='UTC')

In [45]:
cutoff = pd.Timestamp.utcnow() - pd.Timedelta(days=1)
cutoff = cutoff.to_datetime64()
data = data[data['timestamp'] >= cutoff]
data

,_id,_rev,vehicle_id,model,owner,battery_health,voltage,current,temperature,timestamp
289,94fd544dbb192abc8c9c75b1ef16d934,1-148739aef1d9d73966ba873cb2bf7d7a,8387be19-a2c9-4dc4-acbf-2acea264498b,Model 2,Owner 43,84,13.98,49.94,35.29,2024-06-13 12:35:30.815420
290,94fd544dbb192abc8c9c75b1ef16df38,1-bc79820fa2b83f4c1380719a16165fd2,723ac5b2-9d75-4784-92a3-695a6e142131,Model 2,Owner 73,97,12.14,45.16,37.50,2024-06-13 12:35:31.832633
291,94fd544dbb192abc8c9c75b1ef16eb36,1-f1590eae114031f8977282c446e96220,61085ce5-d51a-41ff-813e-36067a79a868,Model 2,Owner 27,83,14.74,46.25,33.23,2024-06-13 12:35:32.850222
292,94fd544dbb192abc8c9c75b1ef16ed9a,1-9b053f57da59945d0c84da691e1c4153,27a9b520-cc8f-4a71-b04d-eba841977999,Model 2,Owner 26,74,11.64,21.93,21.55,2024-06-13 12:35:33.865545
293,94fd544dbb192abc8c9c75b1ef16f8e0,1-b84a62d7595303f91d6de170f1d9bf8a,358f7d9e-8d93-4e4e-8afe-df01a8015b24,Model 2,Owner 15,84,11.76,10.11,28.73,2024-06-13 12:35:34.882975
294,94fd544dbb192abc8c9c75b1ef1700ab,1-00337edfdc5848e12a4fa2087256711c,8e7492e5-53e6-4812-b137-bff734af3a15,Model 2,Owner 17,81,13.39,26.20,28.69,2024-06-13 12:35:35.900011
295,94fd544dbb192abc8c9c75b1ef170ba5,1-73df54a4322a16935748e28525e62787,08f4eaf2-32be-486b-832c-e8df3eb314fe,Model 2,Owner 73,100,13.97,15.94,35.76,2024-06-13 12:35:36.916747
296,94fd544dbb192abc8c9c75b1ef171486,1-e63b45186758dcb1f92925fb82a6daea,4454a170-d5f2-4643-96a8-b1ac04b1835b,Model 2,Owner 62,77,12.90,46.41,35.93,2024-06-13 12:35:37.933013
297,94fd544dbb192abc8c9c75b1ef1723cc,1-8b6c678af6a994bcf7dc9e03f0dfb7fd,32da455b-81e3-4eb4-b352-2a68495df599,Model 2,Owner 12,93,12.45,14.70,24.62,2024-06-13 12:35:38.946031
298,94fd544dbb192abc8c9c75b1ef172e06,1-6f0c092b09f67128429fc8b5493b490c,fbecabdc-fe4b-4d65-b277-fa100297f28b,Model 2,Owner 2,80,12.97,21.83,26.34,2024-06-13 12:35:39.962951

In [59]:
import pandas as pd
import couchdb

def retrieve_data(username, password, db_names, save=False):
    couchdb_url = f"http://{username}:{password}@localhost:5984/"
    couch = couchdb.Server(couchdb_url)
    all_docs = []

    for db_name in db_names:
        db_name = '_'.join(db_name.lower().split())
        if db_name in couch:
            db = couch[db_name]
            for doc_id in db:
                doc = db[doc_id]
                all_docs.append(doc)
        else:
            print(f"Database '{db_name}' does not exist.")

    # Convert list of documents to DataFrame
    data = pd.DataFrame(all_docs)
    if save:
        data.to_csv(f'all_models_data.csv', index=False)
    return data

# Example usage
db_names = ['Model 1']
df = retrieve_data(username='admin', password='root', db_names=db_names, save=True)
df.model.unique()

array(['Model 1'], dtype=object)